@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 700;
  color: rgb(118, 4, 4);
  text-decoration: inherit;
  font-size: 18px;
}
a:hover {
  color: rgb(196, 56, 56);
}

body {
  position: relative;
  margin: 0;
  color: black;
  background-color: rgba(45, 45, 46, 0.663);
  min-height: 100vh;
  font-family: 'poppins';
  
}
.imgg{
  position: absolute;
  opacity: 0.15;
  position: fixed;
  z-index: -1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0a0a0a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000108;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// hazır kodlar
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  margin: 28px 0;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #4b4e51;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 8px 16px 10px 16px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff,
    4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #ffffff,
    2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
  box-shadow: none;
}

// logo
.container {
  margin: auto;
  max-width: 700px;
  padding: 0 40px;
  
}

.logo {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 200px;
 
  h2 {
    font-weight: normal;
  }
  img {
    width: 60px;
    border-radius: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 40px;

  div {
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      margin-top: 5px;
      border: none;
      &:focus {
        outline: 1px solid #646cff;
      }
    }

    span {
      position: absolute;
      left: 0;
      bottom: -30px;
      color: rgb(236, 67, 67);
    }
  }

  button {
    color: white;
    &:disabled {
      background: rgb(72, 72, 72);
    }
  }
}

// header
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .h-logo {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    img {
      width: 4rem;
      border-radius: 50%;
    }
  }

  .links {
    display: flex;
    gap: 1.8rem;
  }

  .active {
    text-shadow: 0 0 1rem #646cff;
  }
}

//

.up {
  color: rgb(0, 212, 0) !important;
}

.down {
  color: red !important;
}

.cardd {
  transition: all 0.3s;
  
}
.cardd:hover {
  cursor: pointer;
  transform: translate(10px, -10px);
  box-shadow: 0 0 30px #e0e8ef8a;
}

table tr {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

#detail {
  overflow-y: hidden;
}
