@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #64ff92;
  text-decoration: inherit;
}

a:hover {
  color: #0713e9;
}

body {
  position: relative;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-height: 100vh;
  font-family: "poppins";
}

.imgg {
  position: absolute;
  opacity: 0.15;
  position: fixed;
  z-index: -1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #121cd1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  margin: 28px 0;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 8px 16px 10px 16px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgba(95, 157, 231, 0.48);
}

button:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgba(95, 157, 231, 0.48);
}

button:active {
  box-shadow: none;
}

.container {
  margin: auto;
  max-width: 700px;
  padding: 0 40px;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 200px;
}
.logo h2 {
  font-weight: normal;
}
.logo img {
  width: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 40px;
}
form div {
  position: relative;
}
form div input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  border: none;
}
form div input:focus {
  outline: 1px solid #646cff;
}
form div span {
  position: absolute;
  left: 0;
  bottom: -30px;
  color: rgb(236, 67, 67);
}
form button {
  color: white;
}
form button:disabled {
  background: rgb(72, 72, 72);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
header .h-logo {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
header .h-logo img {
  width: 3rem;
}
header .links {
  display: flex;
  gap: 1.8rem;
}
header .active {
  text-shadow: 0 0 1rem #0f17be;
}

.up {
  color: rgb(0, 212, 0) !important;
}

.down {
  color: red !important;
}

.cardd {
  transition: all 0.3s;
}

.cardd:hover {
  cursor: pointer;
  transform: translate(10px, -10px);
  box-shadow: 0 0 30px rgba(224, 232, 239, 0.5411764706);
}

table tr {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  background: url(t.jpg);
}

#detail {
  overflow-y: hidden;
}/*# sourceMappingURL=style.css.map */